* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

body {
  @include flexCenter;
  font-family: $font-default;
  color: $color-primary-dark-blue;
  min-height: 100vh;
  position: relative;
  background-color: $color-primary-cyan;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &::before {
    top: -50%;
    background: url(../images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: left top 100%;

    @media only screen and (max-width: $bp-mobile) {
      background-position: right -25% top 75%;
    }
  }

  &::after {
    bottom: -50%;
    background: url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right bottom 100%;

    @media only screen and (max-width: $bp-mobile) {
      background-position: left -25% bottom 75%;
    }
  }
}
