// COLORS
$color-primary-cyan: hsl(185, 75%, 39%);
$color-primary-dark-blue: hsl(229, 23%, 23%);
$color-primary-grayish-blue: hsl(227, 10%, 46%);

$color-neutral-gray: hsl(0, 0%, 59%);

// FONT
$font-default: 'Kumbh Sans', sans-serif;

// BREAKPOINTS
$bp-mobile: 375px;
$bp-desktop: 1440px;
